.container-portfolio {
    padding: 35px 0 75px 0;
}

.fila-portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-portfolio{
    font-family: $main-font;
    color:#283d50; 
    text-align: center;
    font-size: 24px; 
}

/*----------------------------
            CARDS
-----------------------------*/


.portfolio-card-container {
    position: relative;
    margin: 15px 10px;
    transition: all ease-in-out 0.3s;

    &:hover .portfolio-info {
        opacity: 1;
        transition: all ease-in-out 0.3s;
    }

    &:hover .portfolio-info-bg {
        opacity: 0.5;
        width: 350px;
        height: 250px;
        background-color: $color-blue-background;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 299;
        border-radius: 5px;
        transition: all ease-in-out 0.3s;
     
    }
}


.portfolio-img-container {
    width: 350px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;

    img {
        width: 350px;
        height: 100%;
        object-fit: cover;
        opacity: 0.9;
    }
}


.portfolio-info-bg {
    width: 350px;
    height: 250px;
    background-color: $color-blue-background;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 299;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}

.portfolio-info {
    @include flex(column, center, center);
    width: 350px;
    height: 250px;
    color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    border-radius: 5px;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    p {
        color: $color-white;
    }

    a {
        font-size: 22px;
        font-family: $secondary-font;
        font-weight: bold;
        color: $color-white;
        transition: all ease-in-out 0.3s;
        text-decoration: none;
        &:hover {
            color: $color-nav-hover;
            transition: all ease-in-out 0.3s;
        }
    }
}

.portfolio-options-container {
    @include flex(row, center, center);
    .portfolio-link {
        @include flex (row, center, center);
        margin: 5px;
        border-radius: 50%;
        background-color: $color-nav-hover;
        height: 40px;
        width: 40px;
        cursor:pointer;
    }
}