.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-footer;
    height: 150px;
    width: 100%;
    font-family: $main-font;
    a {
        color: $color-white;
        transition: all ease-in-out 0.3s;
        text-decoration: none;
        &:hover {
            color: $color-nav-hover;
            transition: all ease-in-out 0.3s;
        }
    }
    p {
        color: white;
    }
    p:nth-child(2) {
        font-size: 13px;
    }
}